* {
    box-sizing: border-box;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    background-color: #aad0aa;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
  
  /* Start Landing Page */
  .landing-page header {
    min-height: 80px;
    display: flex;
  }
  @media (max-width: 767px) {
    .landing-page header {
      min-height: auto;
      display: initial;
    }
  }
  .landing-page header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 767px) {
    .landing-page header .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  .landing-page header .logo {
    color: #25f382;
    text-shadow: black 1px 5px;
    font-style: italic;
    text-transform: unset;
    font-size: 40px;
  }
  @media (max-width: 767px) {
    .landing-page header .logo {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .landing-page header .links {
    display: flex;
    align-items: center;
  }
  @media (max-width: 767px) {
    .landing-page header .links {
      text-align: center;
      gap: 10px;
    }
  }
  .landing-page header .links li {
    margin-left: 20px;
    color: #000000;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
  }
  @media (max-width: 767px) {
    .landing-page header .links li {
      margin-left: auto;
    }
  }
  .landing-page header .links li:last-child {
    border-radius: 20px;
    padding: 10px 20px;
    color: #070404;
    background-color: #31ca80;
  }
  .landing-page header .links li:last-child:hover {
    color: #0beb70;
    background-color: #000000;
  }
  .landing-page header .links li:not(:last-child):hover {
    color: #02b84e;
    text-shadow: #070404 1px 1px;
  }
  .landing-page .content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
    min-height: calc(100vh - 80px);
  }
  @media (max-width: 767px) {
    .landing-page .content .container {
      gap: 0;
      min-height: calc(100vh - 101px);
      justify-content: center;
      flex-direction: column-reverse;
    }
  }
  @media (max-width: 767px) {
    .landing-page .content .info {
      text-align: center;
      margin-bottom: 15px 
    }
  }
  .landing-page .content .info h1 {
    color: #000000;
    font-size: 35px;
  }
  .landing-page .content .info p {
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    color: #130f0f;
  
  }
  .landing-page .content .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #08e36f;
    background-color: #020302;
    box-shadow: #08e36f 5px 5px;
  }
  .landing-page .content .image .mag {
    max-width: 100%;
  }

.con {
    display: flex;
    height: 100%;
    
}
.im {
    flex: 1;
    background-image: url('image.png');
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}
.cont {
    flex: 1;
    padding: 2rem;
    color: rgb(5, 4, 4);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mojarra {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #02b84e;
}
p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}
.int {
    background-color: #000000;
    border: none;
    color: rgb(11, 254, 100);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.image {
  flex: 1;
  background-size: cover;
  border-radius: 40px;
  border-image-width: auto;
  padding-top: 40px;
}

.mag {
  flex: 1;
  background-size: cover;
  border-radius: 40px;
  
}
a {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Hereda el color del texto del elemento padre */
}



#album-rotator {
  width: 3000px;
  float: left;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  word-break: keep-all;
  padding: 3rem 0;
  align-items: center;
}
#album-rotator-holder {
  position: relative;
  user-select: none;
  will-change: transform;
  /* transition: all 0.01s ease-out; */
  /* transition: all 0.01s linear; */
}


.album-item {
  word-break: keep-all;
  background: rgb(5, 11, 8);
  box-shadow: 0 2px 30px rgba(0,0,0,0.5);
  position: relative;
  width: 250px;
  -webkit-user-drag: none;
  /* user-drag: none; */
  height: 300px;
  user-select: none;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  margin: 0 20rem 0 0;
  transition: all 0.2s ease-out;
  transform: scale(1);
}

.album-item:hover {
  transform: scale(1.02);
}
.album-details {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-shadow: 0 2px 15px rgba(0,0,0,0.5);
  padding: 1rem;
  white-space: initial;
  float: left;
  box-sizing: border-box;
  color: rgb(18, 212, 128);
  height: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  z-index: 99;
}
.title {
  font-weight: 900;
  display: inline-block;
  width: 100%;
}
.subtitle {
  font-weight: 100;
  line-height: 1.25rem;
}
.subtext {
  font-size: 1.1167rem;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.25rem 1rem;
  width: 100%;
  white-space: initial;
  letter-spacing: 0;
  box-sizing: border-box;
  font-weight: 400;
}
.icon {
  font-size: 1rem;
  line-height: 1rem;
  display: block;
  padding: 0 0 0.5rem 0;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
h1 {
  font-size: 2.5rem;
  color: white;
  margin: 0;
  font-weight: 600;
  text-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.mel h2 {
  text-shadow: #a9bab1 2px 3px;
}
.mel {
  margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    
}
#about {
  margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    margin-top: 370px;
}